@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #003E68;
  --secondary-color: #3498DB;
  --tertiary-color: #EEF6FC;
  --background-color: #FFFFFF;
  --text-color: #9795B5;
  --fade-color: #DDDDDD;
  --footer-bg: #697077;
  --font-family: 'Inter', 'Sans-serif', Arial, sans-serif;
}

/* Base Styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: var(--tertiary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

/* Link Reset */
a {
 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Utility Classes */
.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-fade {
  color: var(--fade-color);
}

.bg-fade {
  background-color: var(--fade-color);
}

.text-footer {
  color: var(--footer-bg);
}

.bg-footer {
  background-color: var(--footer-bg);
}

html {
  scroll-behavior: smooth;
}

/* Optional: soft gradient background animation */
@keyframes fadeGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

main {
  background-size: 200% 200%;
  animation: fadeGradient 15s ease infinite;
}
